body {
  background: #FFF;
  color: rgb(44,44,44);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, a {
  color: rgb(220,54,67);
  padding-bottom: 20px;
}

p {
  line-height: 2.2em;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side-note {
  font-size: 0.9em;
  background: #EEE;
  padding: 1em;
}
